/*########################
    ESTILOS DE LA PAG HOME
########################*/
.my-nav{
    background-color: $color-nav;
    a{
        color: #fff;
        font-weight: 400;
        font-size: 12px;
        padding-left:.5em;
        padding-right:.5em;
    }

}