@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

$color-principal:#131921;
$color-secundario: #ffca2c;
$color-nav:#232f3e;
$color-blanco:#f8f9fa;
$txt-color:#333030;
$txt-principal: 'Montserrat', sans-serif;
$body-fondo:#f2f2f2;
$bg-white:#fff;
$b-shadow: 0px 0px 17px 0px rgba(0,0,0,0.16);
$border:solid 0.2px rgba(144, 152, 153, 0.4);