@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
/*########################
    ESTILOS GENERALES
########################*/
body {
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
}

.bg-principal {
  background-color: #131921;
}

/************************
    Bordes
************************/
.b {
  border: solid 0.2px rgba(144, 152, 153, 0.4);
}

.b-top {
  border: solid 0.2px rgba(144, 152, 153, 0.4);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.b-right {
  border: solid 0.2px rgba(144, 152, 153, 0.4);
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
}

.b-bottom {
  border: solid 0.2px rgba(144, 152, 153, 0.4);
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.b-left {
  border: solid 0.2px rgba(144, 152, 153, 0.4);
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}

/************************
    Grid
************************/
.grid {
  display: grid;
}

.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 20px;
}

.gap-3 {
  gap: 30px;
}

.gap-4 {
  gap: 40px;
}

.gap-5 {
  gap: 50px;
}

/*tamaño compu y tv*/
.clmn-0 {
  display: none;
}

.clmn-1 {
  grid-template-columns: repeat(1, 1fr);
}

.clmn-2 {
  grid-template-columns: repeat(2, 1fr);
}

.clmn-3 {
  grid-template-columns: repeat(3, 1fr);
}

.clmn-4 {
  grid-template-columns: repeat(4, 1fr);
}

.clmn-5 {
  grid-template-columns: repeat(5, 1fr);
}

.clmn-6 {
  grid-template-columns: repeat(6, 1fr);
}

.clmn-7 {
  grid-template-columns: repeat(7, 1fr);
}

.clmn-8 {
  grid-template-columns: repeat(8, 1fr);
}

.clmn-9 {
  grid-template-columns: repeat(9, 1fr);
}

.clmn-10 {
  grid-template-columns: repeat(10, 1fr);
}

.clmn-11 {
  grid-template-columns: repeat(11, 1fr);
}

.clmn-12 {
  grid-template-columns: repeat(12, 1fr);
}

.span-0 {
  display: 0;
}

.span-1 {
  grid-column: span 1;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}

.span-5 {
  grid-column: span 5;
}

.span-6 {
  grid-column: span 6;
}

.span-7 {
  grid-column: span 7;
}

.span-8 {
  grid-column: span 8;
}

.span-9 {
  grid-column: span 9;
}

.span-10 {
  grid-column: span 10;
}

.span-11 {
  grid-column: span 11;
}

.span-12 {
  grid-column: span 12;
}

/*tamaño tablet*/
@media (min-width: 768px) and (max-width: 992px) {
  .clmn-md-0 {
    display: none;
  }

  .clmn-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .clmn-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .clmn-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .clmn-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .clmn-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .clmn-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .clmn-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .clmn-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .clmn-md-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .clmn-md-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .clmn-md-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .clmn-md-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  .soan-md-0 {
    display: none;
  }

  .span-md-1 {
    grid-column: span 1;
  }

  .span-md-2 {
    grid-column: span 2;
  }

  .span-md-3 {
    grid-column: span 3;
  }

  .span-md-4 {
    grid-column: span 4;
  }

  .span-md-5 {
    grid-column: span 5;
  }

  .span-md-6 {
    grid-column: span 6;
  }

  .span-md-7 {
    grid-column: span 7;
  }

  .span-md-8 {
    grid-column: span 8;
  }

  .span-md-9 {
    grid-column: span 9;
  }

  .span-md-10 {
    grid-column: span 10;
  }

  .span-md-11 {
    grid-column: span 11;
  }

  .span-md-12 {
    grid-column: span 12;
  }
}
/*tamaño sm*/
@media (min-width: 577px) and (max-width: 767px) {
  .clmn-sm-0 {
    display: none;
  }

  .clmn-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .clmn-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .clmn-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .clmn-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .clmn-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .clmn-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .clmn-sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .clmn-sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .clmn-sm-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .clmn-sm-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .clmn-sm-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .clmn-sm-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  .span-sm-0 {
    display: none;
  }

  .span-sm-1 {
    grid-column: span 1;
  }

  .span-sm-2 {
    grid-column: span 2;
  }

  .span-sm-3 {
    grid-column: span 3;
  }

  .span-sm-4 {
    grid-column: span 4;
  }

  .span-sm-5 {
    grid-column: span 5;
  }

  .span-sm-6 {
    grid-column: span 6;
  }

  .span-sm-7 {
    grid-column: span 7;
  }

  .span-sm-8 {
    grid-column: span 8;
  }

  .span-sm-9 {
    grid-column: span 9;
  }

  .span-sm-10 {
    grid-column: span 10;
  }

  .span-sm-11 {
    grid-column: span 11;
  }

  .span-sm-12 {
    grid-column: span 12;
  }
}
/*tamaño celular*/
@media (max-width: 576px) {
  .clmn-pk-0 {
    display: none;
  }

  .clmn-pk-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .clmn-pk-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .clmn-pk-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .clmn-pk-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .clmn-pk-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .clmn-pk-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .clmn-pk-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .clmn-pk-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .clmn-pk-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .clmn-pk-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .clmn-pk-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .clmn-pk-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  .span-pk-0 {
    display: none;
  }

  .span-pk-1 {
    grid-column: span 1;
  }

  .span-pk-2 {
    grid-column: span 2;
  }

  .span-pk-3 {
    grid-column: span 3;
  }

  .span-pk-4 {
    grid-column: span 4;
  }

  .span-pk-5 {
    grid-column: span 5;
  }

  .span-pk-6 {
    grid-column: span 6;
  }

  .span-pk-7 {
    grid-column: span 7;
  }

  .span-pk-8 {
    grid-column: span 8;
  }

  .span-pk-9 {
    grid-column: span 9;
  }

  .span-pk-10 {
    grid-column: span 10;
  }

  .span-pk-11 {
    grid-column: span 11;
  }

  .span-pk-12 {
    grid-column: span 12;
  }
}
/*#############     SecondTime        ################*/
.my-footer {
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.16);
}

/*########################
    ESTILOS DE LA PAG HOME
########################*/
.my-nav {
  background-color: #232f3e;
}
.my-nav a {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.my-tienda .tienda-categ a {
  font-size: 0.8em;
}

.my-product {
  width: 210px;
  height: 360px;
  border-radius: 5px;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.16);
  margin: 0.5rem;
}
@media (max-width: 576px) {
  .my-product {
    width: 180px;
    height: 320px;
  }
}
.my-product .prudct-img {
  width: 100%;
  height: 55%;
  background-color: #fff;
}
.my-product .prudct-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.my-product .product-contenido {
  width: 100%;
  height: 45%;
  padding: 10px;
}
.my-product .product-contenido .precio h3, .my-product .product-contenido .precio h4 {
  padding: 0;
  margin: 0;
}
.my-product .product-contenido .precio .precio-final {
  font-size: 20px;
}
.my-product .product-contenido .precio .precio-dsct {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: line-through;
}
@media (max-width: 576px) {
  .my-product .product-contenido .precio .precio-final {
    font-size: 14px;
  }
  .my-product .product-contenido .precio .precio-dsct {
    font-size: 10px;
  }
}
.my-product .product-contenido .descripcion {
  font-size: 15px;
}
@media (max-width: 576px) {
  .my-product .product-contenido .descripcion {
    font-size: 13px;
  }
}
.my-product .product-contenido .btn-comprar {
  background-color: #ffca2c;
  color: black;
  transition: 0.5s;
}
.my-product .product-contenido .btn-comprar:hover {
  border: solid 0.2px #ffca2c;
  background-color: #fff;
}

.div-form-acceso {
  padding-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-form-acceso .form-acceso {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  max-width: 330px;
  min-width: 280px;
  height: auto;
  padding: 1em 0.5em 1em 0.5em;
  border-radius: 4px;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.16);
}
.div-form-acceso .form-acceso ._titulo {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding: 0.25em 0;
}
.div-form-acceso .form-acceso input[type=email], .div-form-acceso .form-acceso input[type=password] {
  width: 90%;
  padding: 0.5em;
  margin-top: 1em;
  border: solid 0.2px rgba(144, 152, 153, 0.4);
}
.div-form-acceso .form-acceso input::placeholder {
  font-size: 11px;
  letter-spacing: 0.8px;
}
.div-form-acceso .form-acceso .btn {
  margin-top: 1em;
  width: 90%;
  display: flex;
  justify-content: center;
  background-color: #131921;
  color: #fff;
  transition: 0.3s;
}
.div-form-acceso .form-acceso .btn:hover {
  background-color: #f2f2f2;
  color: #131921;
  border: solid 0.2px rgba(144, 152, 153, 0.4);
}
.div-form-acceso .form-acceso ._secundario {
  margin: 1em;
  color: #131921;
  cursor: pointer;
}

.mis-terminos {
  color: #333030;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
